.laptop-img-container {
    text-align: center;
    margin: 0 auto;
}

.responsive-img {
    width: 100%;
    height: auto;
    max-width: 1000px;
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
    .responsive-img {
        width: 100%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .responsive-img {
        width: 90%;
    }
}
