
  
  .container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    padding: 20px;
    position: relative;
    top: 650px;
    border: 1px dotted red;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .title-h1 {
    text-align: center;
    font-size: 3rem;
    cursor: default;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    font-weight: 700;
  }
  
  .image-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: -15px;
    border: 1px dotted red;
  }
  
  .image-row img {
    width: 30%; 
    height: auto;
    margin: 0 auto; 
  }
  
  .title-h2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: 1.5rem;
    text-align: center; 
    cursor: default;
    margin-top: -20px;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    font-weight: 300;
    border: 1px dotted red;
  }
  
  .caption-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 1px dotted red;
  }
  
  .caption-row p {
    margin: 0;
    text-align: center; 
    cursor: default;
    margin-top: -20px;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    font-weight: 300;
    border: 1px dotted red;
  }
  