.window-feature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.window-feature-box {
    padding: 15px;
}

.window-feature-pic2 img,
.window-feature-pic3 img,
.window-feature-pic1 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.window-feature-content1,
.window-feature-content2,
.window-feature-content3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.window-feature-content1 h2,
.window-feature-content2 h2,
.window-feature-content3 h2 {
    margin-bottom: 10px;
}

/* Tablet View */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .window-feature-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .window-feature-box {
        padding: 10px;
    }

    .window-feature-box h2 {
        font-size: 1.7rem;
        text-align: center;
    }

    .window-feature-box p {
        text-align: justify;
    }
}

/* Mobile View */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .window-feature-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .window-feature-box {
        padding: 8px;
    }

    .window-feature-box h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .window-feature-box p {
        font-size: 0.9rem;
        text-align: justify;
    }

    .window-feature-box ul {
        padding-left: 20px;
    }

    .window-feature-box li {
        font-size: 0.9rem;
        margin-bottom: 5px;
    }
}

/* General Small Screen View */
@media only screen and (max-width: 768px) {
    .window-feature-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .window-feature-box {
        padding: 10px;
    }

    .window-feature-box h2 {
        font-size: 1.7rem;
        text-align: center;
    }

    .window-feature-box p {
        text-align: justify;
    }
}
