.containerfeature3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "content1 content1 content1"
      "pic1 pic2 pic5"
      "content2 content3 pic5"
      "pic3 pic4 pic5"
      "content4 content5 .";
    width: 80%;
    height: auto; /* Change height to auto for responsiveness */
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .pic1, .pic2, .pic3, .pic4, .pic5, .content1, .content2, .content3, .content4, .content5 {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .pic1, .pic2, .pic3, .pic4, .pic5 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    max-width: 100%; /* Ensure images don't exceed their container */
    height: auto;
  }
  
  @media only screen and (max-width: 768px) {
    .containerfeature3 {
      grid-template-columns: 1fr; /* Single column layout for smaller screens */
      grid-template-areas:
        "content1"
        "pic5"
        "pic1"
        "content2"
        "pic2"
        "content3"
        "pic3"
        "content4"
        "pic4"
        "content5";
      width: 100%;
    }
  }
  