:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


  color-scheme: light dark;
  color: hsla(0, 0%, 14%, 0.871);
  background-color: hsl(0, 0%, 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: hsla(0, 0%, 14%, 0.871);
    background-color: hsl(0, 0%, 100%);
  }

}
